<%- include partials/head %>
<%- include partials/navbar %>

<h1>Albums!</h1>

<%# Below this is not yet working correctly %>

<% albums.forEach(function(album) { %>
  <%#var albumArtist = artists[album.artist_id].name;%>
  <p><a href="/albums/<%=album.id%>"><%= album.title %></a> : <a href="/artists/<%=album.artist_id%>">albumArtist</a></p>
<% }); %>
