





<!--  START OF BODY  -->
<div><% include partials/head %></div>
<div class="fx nav-color fx-just"><% include partials/navbar %></div>

<body>


<%var albumId = albums[id];%>



  <div id="sec-name-wrap" class="fx fx-just">


  </div> <!-- PAGE TITLE -->


  <table >

    <div class="fx fx-grow" >
      <div id="artist-box" class="col-fx cont-width mint-color">

        <table>

        <div id="art-info-wrap" class="row fx-just ">


          <div id="art-meta-box" class= "col-fx">

            <div id="art-name-row" class="row">
              <h2><%= albumId.title %></h2>
            </div>  <!-- ARTIST NAME ROW -->

            <div id="art-info-meta" class="row fx-grow">
              <div id="album-label" class="col-fx art-labels" >
                <a href="/artists/<%=artistId%>"><%= artistName %></a>
              </div>
              <div id="album-name" class="col-fx art-labels" ><%= albumId.year%></div>

              <div id="genre-label" class="col-fx art-labels"><%=songLength%></div>
              <div id="genre-type" class="col-fx art-labels">Songs</div>
            </div> <!-- ARTIST META DATA -->

          </div> <!-- ARTIST META ROW  -->

          <div id="img-col" class= "col-fx">
            <a id="img-album" href="http://placehold.it"><img src="http://placehold.it/150x150"></a>
          </div> <!-- IMAGE WRAPPER BOX -->

        </table>

          <div class="row">

            <table>
              <tr>
                <th>Song:</th>
                <th>Track Number:</th>
                <th>Song Length:</th>
              </tr> <!-- LABEL ROW  -->
              <% songs.forEach(function(song){ %>

              <tr>
              <th><%= song.title%></th>
              <th><%=song.track_no%></th>
              <th><%=song.length%></th>
            </tr>
            <% }); %>
          </table>

        </div>

        </div>  <!-- INFO WRAPPER  -->



      </div> <!-- ARTIST PAGE BOX -->

    </div>

  </table>



</body>

<div class= "container nav-color"><% include partials/footer %></div>
