<% include partials/head %>
<% include partials/navbar %>

<%var albumId = albums[id];%>
<h1><%= albumId.title %></h1>
<h1><a href="/artists/<%=artistId%>"><%= artistName %></a>
<h1><%= albumId.year%></h1>

<% songs.forEach(function(song) { %>
  <li><%=song.title%></li>
    <%=song.track_no%>
    <%=song.length%>
<%})%>
