<!--  START OF BODY  -->
<div><% include partials/head %></div>
<div class="fx nav-color fx-just"><% include partials/navbar %></div>

<body>
  <div id="sec-name" class="row fx-just"><h1><%=artist.name%></h1></div>

  <div id="sec-name-wrap" class="col-fx container ">


    <div id="art-meta-sec" class="row fx-just">
      <div id="num-albums-lbl" class="art-labels col-fx"><h5>Albums:</h5></div>
      <div id="num-albums" class="art-labels col-fx"><h5>#of-Albums</h5></div>
      <div id="genre-lbl" class="art-labels col-fx"><h5>Genre:</h5></div>
      <div id="genre-type" class="art-labels col-fx"><h5><%=artist.genre%></h5></div>
    </div>

  </div> <!-- PAGE TITLE -->

  <% albums.forEach(function(album, i) {%>
    <%var albumID = album.id;%>
  <table class= "container">
    <div class="fx fx-grow" >
      <div id="artist-box" class="col-fx cont-width mint-color">

        <div id="art-info-wrap" class="row fx-just ">

          <div id="img-col" class= "col-fx">
            <a id="img-album" href="http://placehold.it"><img src="http://placehold.it/150x150"></a>
          </div> <!-- IMAGE WRAPPER BOX -->

          <div id="art-meta-box" class= "col-fx">

            <div id="art-name-row" class="row">
              <h2><a href="/albums/<%=albumID%>"><%=album.title%></a></h2>
            </div>  <!-- ARTIST NAME ROW -->

            <div id="art-info-meta" class="row fx-grow">
              <div id="album-name" class="col-fx art-labels" >Year: <%=album.year%></div>
              <div id="genre-label" class="col-fx art-labels"><%=numSongsForAlbums[i]%> Songs</div>
            </div> <!-- ARTIST META DATA -->

              <%})%>

          </div> <!-- ARTIST META ROW  -->

        </div>  <!-- INFO WRAPPER  -->

      </div> <!-- ARTIST PAGE BOX -->

    </div>

  </table>



</body>

<div class= "container nav-color"><% include partials/footer %></div>
