<% include partials/head %>
<% include partials/navbar %>

<h1><%=artist.name%> Genre: <%=artist.genre%></h1>

<% albums.forEach(function(album) {%>
  <%var albumID = album.id;%>
  <li><a href="/albums/<%=albumID%>"><%=album.title%></a>: <%=album.year%></li>
<%})%>
